<nav class="navbar pt-zero">
    <ul class="nav nav-hf flex-column p-3" style="background-color: rgb(255, 134, 140);" role="tablist" aria-orientation="vertical">
        <a class="navbar-brand nav-logo mb-4">Zmybiote PMS</a>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink>About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white">Sign Out</a>
        </li>
    </ul>
</nav>