<!-- Default form login -->
<form class="form-group shadow p-3 mb-5 mt-5 bg-white rounded">
    <div style="text-align: center;">
        <p class="h4 mb-4">Sign in</p>
        <!-- Email -->
        <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
        <!-- Password -->
        <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
        <div class="d-flex justify-content-around mb-3">
          <div>
            <!-- Remember me -->
            <input type="checkbox">Remember me
          </div>
          <div>
            <!-- Forgot password -->
            <a href="">Forgot password?</a>
          </div>
        </div>
        <!-- Sign in button -->
        <button class="btn btn-primary mb-2" type="submit">Sign in</button>
        <!-- Register -->
        <p>Not a member?
          <a href="">Register</a>
        </p>
    </div>
  </form>
  <!-- Default form login -->